header{
    display: flex;
    background-color: rgb(19, 214, 19);
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(blue,red);
}
body{
     background:rgb(221, 21, 21);
      color: white;
    padding:10px 20px ;
    flex-direction: column;
    background: linear-gradient(blue,red);
}
.moi{
    display: flex;
    flex-direction: column;
    height: 15cm;

}
.maphoto{
    background-color: rgb(46, 56, 32);
    width: 100%;
    height: 300px;
    background-image: url("capture.png");
    background-size: cover;
    background-position: center;
    background: linear-gradient(red, rgb(8, 8, 252));
}
.mesinfos{
    display: flex;
    justify-content: space-between;
    
}
#maphoto{
    height: 13cm;
    width: 15cm;
    border-radius: 50%;
    background-color:   rgb(46, 56, 32);
    background: radial-gradient(rgba(241, 6, 6, 0.959),#6a11cb);
    
}
.localisation{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 2cm;
    justify-content: space-between;
}
#contact{
    border-radius: 50px;
    border-color: blanchedalmond;
    margin-bottom: 1cm;
}
.localisation :hover{
    font-size: 30px;
    transition: 1,5;
}
ul{text-decoration: dotted;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 15px;
}
#nom{
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#fred{
    color: aquamarine;
}
#apropos{
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.presentation{
    display: flex;
    gap: calc(10px);
    font-size: 25px;
    justify-content: space-between;
    margin-top: 2cm;
}
#frednanfack{
    margin-bottom: 2cm;
}
#mestalents{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(50px);
}
img{
    width:3cm ;
    height: 3cm;
}
button{
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
}
.fredi{
    height: 13cm;
    width: 5cm;
}
.title{
    margin-bottom: 2cm;
}
/* .body2{
    position: fixed;
} */
#mestalents button{
    height: 20vh;
}
#texte{
    font-size: 20px;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    align-content: center;
    

}
footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(46, 56, 32);
    background: linear-gradient(blue,red)
}
#cotes{
     font-size: 40px;
    color: rgb(6, 5, 5);
}    
#bouttonmecontacter{
    width: 3cm;
    height: 1cm;
}
.monparcours{
    
}
#bouttonmecontacter :hover{
    background-color: red;
}
.bar{
    color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
}
.cep{
    width: 20%;
    background: linear-gradient(to right,blue,red);
}
.bepc{
    width: 40%;
     background: linear-gradient(to right,blue,red);
}

.probatoire{
    width: 60%;
     background: linear-gradient(to right,blue,red);
}
.baccalaureat{
    width: 75%;
     background: linear-gradient(to right,blue,red);
}
.licence1{
    width: 90%;
     background: linear-gradient(to right,blue,red);
}
.mesrealisations{
    display: flex;
    justify-content: space-between;
}
#machine{
    width: 8cm;
    height: 8cm;
}



